## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
a=9
print (a)

9

2) Imprimir el tipo de dato de la variable 8.5

In [7]:
b=8.5
print (type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [17]:
print (type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [20]:
n="Agu"
print (n)  
print (type(n))

Agu
<class 'str'>

5) Crear una constante que contenga el número Pi

In [19]:
PI_CONSTANTE=3.141592
print (PI_CONSTANTE)

3.141592

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [34]:
PI_CONSTANTE=3.141592
print (PI_CONSTANTE)

3.141592

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [35]:
E_EULER= 2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [39]:
bool=True
str="True"

print (type(boolean))
print (type(string))
#no son los mismo

<class 'bool'>
<class 'str'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [ ]:
bool=True
str="True"

print (type(boolean))
print (type(string))
#no son los mismo

10) Asignar a una variable, la suma de un número entero y otro flotante

In [41]:
inta=5
floatb=2.1
sum= inta+floatb
print (sum)

7.1

11) Realizar una operación de suma de un número definido como string con un entero

In [51]:
stra="4"
intb= 1
int(stra)
print("Sconvertido",stra,)
sum=9
sum=int(stra)+intb
print ("suma:",sum,)

Sconvertido 4
suma: 5

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [54]:
e3=E_EULER**3
print (e3)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [59]:
num_a= input("ingrese un numero a multiplicar por 5")
mul_a= int(num_a)*5
print (mul_a)

200

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [62]:
div_a=27/4
print (div_a)

6.75
6

15) De la división anterior solamente mostrar la parte entera

In [66]:
div_b=27//4
print (int(div_b))

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [65]:
print (div_a-int(div_a))

0.75

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [68]:
ventisiete=div_a*4
print (ventisiete)

ventisietea=div_b*4+(div_a-int(div_a))*4
print (ventisietea)

27.0
27.0

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
#no, son distintos tipos de variables.

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [71]:
int_c=2
str_c="2"
print (type(int_c))
print (type(str_c))

<class 'int'>
<class 'str'>

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

porque la funcion float debe recibir un numero o variable, no un tipo variable de texto

In [74]:
aa=3
aa=float(aa)
print (aa)

3.0

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
Porque son dos tipos de variables distintas.

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [75]:
menu="""
MENU
1) Pizza
2) Empanadas
3) Milanesas 
4) Salir
"""
print(menu)

MENU
1) Pizza
2) Empanadas
3) Milanesas
4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [77]:
lista_a = [1,2,3,4,5,6,7,8,9,10]
print (lista_a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [80]:
print(lista_a[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [84]:
lista_a[2] = "Agu"
print (lista_a)

[1, 2, 'Agu', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [91]:
matriz_a=[["A","B","C"],['D','E','F'],['G','H','I']]
print (matriz_a)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [94]:
matriz_a=[["A","B","C"],['D','E','F'],['G','H','I']]
print (matriz_a)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [95]:
matriz_a[1][1]='Z'
print (matriz_a)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [96]:
matriz_a[0]=[1,2,3]
print (matriz_a)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [98]:
tupla_a=tuple()
tupla_a=('Adidas','Loto','Puma','Nike','Head')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [99]:
print (tupla_a[0])

Adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
A diferencia de las listas, las tuplas no se pueden modificar.
Una vez creada la tupla, no sepueden agregar, eliminar o modificar los elementos.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [104]:
dic_a={'nombre':'Pedro','apellido':'Perez','edad':45,'hobbies':['futbol','tenis','natacion']}

print (dic_a['hobbies'])

['futbol', 'tenis', 'natacion']

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [ ]:
dic_a={'nombre':'Pedro','apellido':'Perez','edad':45,'hobbies':['futbol','tenis','natacion']}

print (dic_a['hobbies'])

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [105]:
dic_a['edad']=29
print (dic_a)

{'nombre': 'Pedro', 'apellido': 'Perez', 'edad': 29, 'hobbies': ['futbol', 'tenis', 'natacion']}